body {
  font-size: 105%;
}

div.main {
  width: 100%;
  padding: 0 0 0 0;
  border: none;
}

H1 {
  margin: 1.25em 0 0.625em;
  padding: 0.1em;
  width: 100%;
  font-size: 1.75em;
  line-height: 1.3;
}

H2 {
  margin: 1em 0 0.5em;
  padding: 0.1em;
  width: 100%;
  font-size: 1.5em;
  line-height: 1.3;
}

H3 {
  margin: 0.875em 0 0.4375em;
  border-bottom: 1px #4A90E2 solid;
  width: 100%;
  font-size: 1.25em;
  line-height: 1.4;
}

H4 {
  margin: 0.75em 0 0.375em;
  border-bottom: 1px #4A90E2 solid;
  width: 100%;
  font-size: 1.125em;
  line-height: 1.4;
}

div.nav {
  width: 100%;
  padding: 0 0 0 0;
  border: 1px solid #d4d4d4;
}

div.nav a {
  padding: 0.25em 0.75em;
}

div.nav_nav {
  width: 100%;
}

div.nav_rss {
  display: none;
}

a.nav_a1 {
  background: #d4d4d4;
}

div.overview {
  margin: 1.5em 0 1.5em 0.75em;
}

div.detail {
  margin-left: 0;
}

div.date {
  display: none;
}

.gist .line-numbers {
  display: none;
}

.gist .line-data {
  font-size: 1em;
}
