pre .hll { background-color: #2d2d2d }
pre  { background: #1e1e1e; color: #d4d4d4 }
pre .c { color: #6a9955; font-style: italic } /* Comment */
pre .err { border: 1px solid #f48771 } /* Error */
pre .k { color: #569cd6; font-weight: normal } /* Keyword */
pre .o { color: #d4d4d4 } /* Operator */
pre .cm { color: #6a9955; font-style: italic } /* Comment.Multiline */
pre .cp { color: #569cd6 } /* Comment.Preproc */
pre .c1 { color: #6a9955; font-style: italic } /* Comment.Single */
pre .cs { color: #6a9955; font-style: italic } /* Comment.Special */
pre .gd { color: #f48771 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #f48771 } /* Generic.Error */
pre .gh { color: #569cd6; font-weight: bold } /* Generic.Heading */
pre .gi { color: #b5cea8 } /* Generic.Inserted */
pre .go { color: #808080 } /* Generic.Output */
pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #569cd6; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #f48771 } /* Generic.Traceback */
pre .kc { color: #569cd6 } /* Keyword.Constant */
pre .kd { color: #569cd6 } /* Keyword.Declaration */
pre .kn { color: #569cd6 } /* Keyword.Namespace */
pre .kp { color: #569cd6 } /* Keyword.Pseudo */
pre .kr { color: #569cd6 } /* Keyword.Reserved */
pre .kt { color: #4ec9b0 } /* Keyword.Type */
pre .m { color: #b5cea8 } /* Literal.Number */
pre .s { color: #ce9178 } /* Literal.String */
pre .na { color: #9cdcfe } /* Name.Attribute */
pre .nb { color: #569cd6 } /* Name.Builtin */
pre .nc { color: #4ec9b0; font-weight: normal } /* Name.Class */
pre .no { color: #4ec9b0 } /* Name.Constant */
pre .nd { color: #dcdcaa } /* Name.Decorator */
pre .ni { color: #d16969 } /* Name.Entity */
pre .ne { color: #d16969 } /* Name.Exception */
pre .nf { color: #dcdcaa } /* Name.Function */
pre .nl { color: #c586c0 } /* Name.Label */
pre .nn { color: #4ec9b0 } /* Name.Namespace */
pre .nt { color: #569cd6 } /* Name.Tag */
pre .nv { color: #9cdcfe } /* Name.Variable */
pre .ow { color: #569cd6 } /* Operator.Word */
pre .w { color: #808080 } /* Text.Whitespace */
pre .mb { color: #b5cea8 } /* Literal.Number.Bin */
pre .mf { color: #b5cea8 } /* Literal.Number.Float */
pre .mh { color: #b5cea8 } /* Literal.Number.Hex */
pre .mi { color: #b5cea8 } /* Literal.Number.Integer */
pre .mo { color: #b5cea8 } /* Literal.Number.Oct */
pre .sb { color: #ce9178 } /* Literal.String.Backtick */
pre .sc { color: #ce9178 } /* Literal.String.Char */
pre .sd { color: #ce9178 } /* Literal.String.Doc */
pre .s2 { color: #ce9178 } /* Literal.String.Double */
pre .se { color: #ce9178 } /* Literal.String.Escape */
pre .sh { color: #ce9178 } /* Literal.String.Heredoc */
pre .si { color: #ce9178 } /* Literal.String.Interpol */
pre .sx { color: #ce9178 } /* Literal.String.Other */
pre .sr { color: #ce9178 } /* Literal.String.Regex */
pre .s1 { color: #ce9178 } /* Literal.String.Single */
pre .ss { color: #ce9178 } /* Literal.String.Symbol */
pre .bp { color: #569cd6 } /* Name.Builtin.Pseudo */
pre .vc { color: #9cdcfe } /* Name.Variable.Class */
pre .vg { color: #9cdcfe } /* Name.Variable.Global */
pre .vi { color: #9cdcfe } /* Name.Variable.Instance */
pre .il { color: #b5cea8 } /* Literal.Number.Integer.Long */

.syntax pre .hll { background-color: #2d2d2d }
.syntax pre  { background: #1e1e1e; color: #d4d4d4 }
.syntax pre .c { color: #6a9955; font-style: italic } /* Comment */
.syntax pre .k { color: #569cd6 } /* Keyword */
.syntax pre .cm { color: #6a9955; font-style: italic } /* Comment.Multiline */
.syntax pre .cp { color: #569cd6; font-style: italic } /* Comment.Preproc */
.syntax pre .c1 { color: #6a9955; font-style: italic } /* Comment.Single */
.syntax pre .cs { color: #6a9955; font-style: italic } /* Comment.Special */
.syntax pre .kc { color: #569cd6 } /* Keyword.Constant */
.syntax pre .kd { color: #569cd6 } /* Keyword.Declaration */
.syntax pre .kn { color: #569cd6 } /* Keyword.Namespace */
.syntax pre .kp { color: #569cd6 } /* Keyword.Pseudo */
.syntax pre .kr { color: #569cd6 } /* Keyword.Reserved */
.syntax pre .kt { color: #4ec9b0 } /* Keyword.Type */
.syntax pre .s { color: #ce9178 } /* Literal.String */
.syntax pre .nc { color: #4ec9b0 } /* Name.Class */
.syntax pre .nd { color: #dcdcaa } /* Name.Decorator */
.syntax pre .nf { color: #dcdcaa } /* Name.Function */
.syntax pre .sb { color: #ce9178 } /* Literal.String.Backtick */
.syntax pre .sc { color: #ce9178 } /* Literal.String.Char */
.syntax pre .sd { color: #ce9178 } /* Literal.String.Doc */
.syntax pre .s2 { color: #ce9178 } /* Literal.String.Double */
.syntax pre .se { color: #ce9178 } /* Literal.String.Escape */
.syntax pre .sh { color: #ce9178 } /* Literal.String.Heredoc */
.syntax pre .si { color: #ce9178 } /* Literal.String.Interpol */
.syntax pre .sx { color: #ce9178 } /* Literal.String.Other */
.syntax pre .sr { color: #ce9178 } /* Literal.String.Regex */
.syntax pre .s1 { color: #ce9178 } /* Literal.String.Single */
.syntax pre .ss { color: #ce9178 } /* Literal.String.Symbol */
