<div class="nav">
    <div class="nav_nav">
        <a class="nav_a1" href="{{ site.url }}/">首页</a>
        <a href="{{ site.url }}/watching-records/">追番记录</a>
        <!-- <a class="nav_a1" href="{{ site.url }}/wiki/">维基</a>
        <a href="{{ site.url }}/links/">链接</a> -->
        <a class="nav_a1" href="{{ site.url }}/about/">关于</a>
    </div>
    <div class="nav_search">
        <div class="search-container">
            <input type="text" id="search-input" placeholder="搜索文章..." autocomplete="off">
            <div id="search-icon" class="search-icon">🔍</div>
            <div id="search-results" class="search-results"></div>
        </div>
    </div>
    <div class="nav_rss"><a href="{{ site.url }}/sitemap.xml" style="display:none;">SITEMAP</a></div>
</div>
